<nav class="navbar navbar-inner navbar-fixed-top">
	<div class="container">
		<div class="navbar-header" style="">
			<a class="navbar-brand" routerLink="/routes">
				<img src="assets/images/people.png" alt="logo" />
				<span class="app-title">Right Track</span>
			</a>
			<span class="navbar-collapse">
				<ul class="nav navbar-nav nav-pills navBarPadding">
						<li routerLinkActive="active"><a routerLink="/routes">Routes</a></li>
						<li routerLinkActive="active"><a routerLink="/live-locations">Live Locations</a></li>
				</ul>
			</span>
		</div>
	</div>
</nav>