
<nav class="navbar-inner nav-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
        <li routerLinkActive="active" style="padding-top:5px"><a routerLink="/home"><img src="assets/images/side-logo.jpeg" class="side-nav"alt="logo" /></a></li>
        <li routerLinkActive="active" class="nav-li" style="margin-left:317px;"><a routerLink="/routes"><img src="assets/images/logo.png" class="app-logo" alt="logo" /></a></li>
      </ul>
  </div>
</nav>
<nav class="navbar navbar-inner">
  <div class="container-fluid nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
      	<li *ngIf= "showNavLinks" routerLinkActive="active" class="nav-li"><a routerLink="/home">Home</a></li>
      	<li *ngIf= "showNavLinks" routerLinkActive="active" class="nav-li"><a routerLink="/routes">Routes</a></li>
		    <li *ngIf= "showNavLinks" routerLinkActive="active" class="nav-li"><a routerLink="/live-locations">Live Tracking</a></li>
        <li *ngIf= "showNavLinks && (userType === 'admin' || userType === 'superadmin')" routerLinkActive="active" class="nav-li"><a routerLink="/register">{{userTypeText}}</a></li>
        <li routerLinkActive="active" (click)="loginOrOut()" class="nav-li"><a>{{ loginLogoutText }}</a></li>
      </ul>
    </div>
  </div>
</nav>
