<div class="container">
    <header>
      <h3>
        {{ title }}
      </h3>
    </header>
    <h1>Login</h1>
    <div [hidden]="!invalidLogin"
             class="alert alert-danger">
          Username or password is invalid
        </div>
    <form #userRegistionForm="ngForm" (ngSubmit)="validateUser()">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required #username="ngModel">
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          UserName is invalid
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is invalid
        </div>
      </div>
       <button type="submit" class="btn btn-success" [disabled]="!userRegistionForm.form.valid">Submit</button>
    </form>
</div>