html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans'
}

main {
    position: relative;
   /* padding-top: 60px;*/
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { 
    display: none !important; 
}

th {
  cursor: pointer;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

.toolbar-item a {
  cursor: pointer;
}

.orders-table {
    width:50%;
}

.orders-table td {
    width: 50%;
}

.summary-border {
    border-top: 2px solid black;
}

.indent {
    margin-left:5px;
}

.navbar .nav > li.toolbar-item > a {
    color: #9E9E9E;
    font-weight:bold;
}

.navbar .nav > .toolbar-item > a.active {
    color: #000;
}

.navbar-header {
    margin-top: -10px;
}

.navbar-collapse {
    float:right;
    margin-top: 5px;
}

.nav.navbar-padding {
    margin-left:25px;
    margin-top: 10px;
}

a.navbar-brand {
    color: #fff;
}

.navbar-brand>img {
    display: inline-block;
}

.navbar-inner {
    padding-left: 0px;
    background-color: #5591D9;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: none !important;
}

.navbar .nav > li  {
    cursor:pointer;
}

.navbar .nav > li > a {
    color: white;
    font-weight:bold;
    height:30px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.navbar .nav > li.toolbaritem > a {
    color: black;
    font-weight:bold;
}

.nav.navBarPadding {
    margin-left: 25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

footer {
    margin-top: 15px;
}

form {
	width:50%;
}


a:hover, a:focus {
  text-decoration: none;
}

.dropdown-list{
    width: 184px !important;
}

.selected-list {
    width: 184px !important;
}

.c-token{
    margin-top:3px !important;
}

.dropdown-button {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.nav-logo{
    height: 44px;
    margin-top: 5px;
    margin-right: 102px;
}



.nav-container{
    position:relative;
    left:-50%;
    text-align:left;
}

.nav-container ul{
    list-style:none;
    position:relative;
    left:50%;
}

.nav>li>a:focus, .nav>li>a:hover {
     background-color: #5591D9; 
}

.navbar {
    border-top: 1px solid #EFEFEF;
    margin-bottom: 0; 
    border-bottom: 1px solid #EFEFEF;
    min-height: 41px
}

.nav-li{
    padding-left: 72px;
    padding-right: 72px;
}

.c-btn {
    box-shadow: none !important;
    padding: 3px !important;
}

.pull-right{
    float:right;
}

.header-row{
    background-color: #5591D9; 
    padding-top: 11px;
    padding-bottom: 9px;
    max-height: 46px;
}

.custom-dropdown-button{
    text-align: center;
    margin-top: 5px;
}

#custom-ok-button{
    margin-right: 7px;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}

#custom-cancel-button{
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)   
}

.custom-dropdown-button{
    margin-bottom: 5px;
}

.logo-img > img{
    width: 43%;
    margin-left: 99px;
}

.dropdown-content{
    border-radius: 5px;
    min-width: 84px !important
}

.dropdown-content a {
    color: #337ab7 !important;
    text-decoration: none !important;
}

.logo-img{
    padding:0px !important;
}

.side-nav{
    width: 48px;
    border-radius: 50%;
}

/*.logo{
    background-color: transparent; 
}*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}    

.app-logo{
    height: 38px;
    width: 382px;
}

.navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px
}

.dropdown-content a:hover {
    color: black !important;
}